/* #menu reference: http://biostall.com/creating-a-navigation-menu-using-an-unordered-list-and-css/ */
:root {
    --color-calendar-page-background: white; 
}
html {
    display: flex;
    min-height: 100vh;
    background-color: #EAEBEF; 
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica', 'Georgia', 'Times New Roman';
}

#menu {   
    list-style-type:none;  
    margin:0;  
    padding:0;  
    height:30px;   
    font-family:Arial;  
    font-size:0.9em;  
}  

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li b{
    padding-left: 1em; 
    text-indent: -.7em;
}
  
#class li b::before {
    content: "• ";
    color: rgba(197, 44, 138, 0.87);
    font-size: 16px;
}

#museum li b::before {
    content: "• ";
    color: rgba(39, 180, 81, 0.966);
    font-size: 16px;
}

#career li b::before {
    content: "• ";
    color: rgba(226, 151, 37, 0.966);
    font-size: 16px;
}

.filters-bar {
    grid-row: 1 / 3;
    grid-column: 1;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
    min-width: 170px;
    background-color: whitesmoke;
}

.clear-all-filters {
    border-radius: 10px;
    border: 0px none;
    margin: 3px;
    font-size: 14px;
    background-color: #1d74e5;
    color: white;
    width: 80px;
    height: 30px;
}

.clear-all-filters:hover {
    background-color: #73a9ef;
    color: black;
}

.filter {
    width: auto;
    height: auto;
    padding: 2px;
    overflow: auto;
    margin-top: 10px;
    margin-right: 5px;
    overflow-x: hidden;
}

.internal-header {
    font-family: Helvetica, Georgia, 'Times New Roman';
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.internal-header-filter {
    font-family: Helvetica, Georgia, 'Times New Roman';
    font-size: 14px;
    font-weight: bold;
}

.options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: Helvetica, Georgia, 'Times New Roman';
    font-size: 14px;
}

.horizontal-bar {
    height: 0px;
    width: 170px;
    border: gray solid 1px;
}

.main-panel {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
    height: 100%;
}

#month-container {
    grid-row: 1;
    display: grid;
    grid-template-areas: 'left month right';
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: white;
    width: auto;
    height: 50px;
    /* max-width: 1000px; */
}

#month {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 28px;
}

.arrow {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 24px;
    width: 100px;
    border-radius: 10px;
}

.arrow:hover {
    color: white;
    background-color: #73a9ef;
}

#left {
    /* text-align: right; */
    margin-right: 0;
    margin-left: auto;
}

#right {
    /* text-align: left; */
}


.left-column {
    grid-column: 1;
    width: auto;
    height: auto;
}

.calendarPanel {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto;
    width: auto;
    height: auto;
    margin: auto;
}

.calendar-header {
    grid-row: 1;
    width: 100%;
    height: 125px;
    margin: auto;
}

.days-of-week {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
}

.calendarDates {
    grid-row: 2;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 90%;
    height: auto;
    min-width: 1000px;
    background-color: var(--color-calendar-page-background);
}

.day-block {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 0.5em;
    border: 1px solid #b8b9bc;
    text-align: right;
    width: auto;
    height: auto;
    max-height: 130px; 
}

.day-label {
    grid-row: 1;
    color: gray;
    font-size: 18px;
}

.reg-day {
    grid-row: 1;
    font-size: 16px;
}

.first-row-day {
    grid-row: 2;
    font-size: 16px;
}

.event {
    font-size: 16px;
    color: #1d74e5;
}

.event:hover {
    text-decoration: underline;
}

.modal-display-event {
    display: grid;
    margin: 20% auto;
    width: 500px;
    height: 260px;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    grid-template-areas: 'title title title title title'
                         'left_side right_side right_side right_side right_side'
                         '. . . . add_event';
}

.modal-event-add {
    grid-area: add_event;
    width: auto;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
    background-color: #1d74e5;
    color: white;
}

.modal-event-add:hover {
    background-color: #73a9ef;
    color: black;
}

.modal-event-added {
    grid-area: add_event;
    width: auto;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
    background-color: rgb(71, 163, 71);
    color: white;
}


.modal-close {
    float: right;
    padding-right: 5px;
    font-weight: bold;
    color: #b8b9bc;
}

.modal-close:hover {
    color: black;
    cursor: pointer;
}

.my-event-date-month-modal {
    background-color: #1d74e5;
    color: white;
    text-align: center;
    padding: 1px;
    height: 25%;
    vertical-align: middle;
    font-size: 25px;

}

.my-event-date-day-modal {
    background-color: white;
    color: black;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    padding: 8px;
    height: 50%;
    vertical-align: middle;
    font-size: 50px;
}


