.groupButtonsAndMessageBoard{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-buttons-row{
	display: flex;
	flex-direction: column;
	padding: 20px;
	
}
.group-button{
    color:black;
    border-radius: 20px;
    border: 1px solid #bbb;    
    font-size: 30px;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 10px;
    line-height: 150px;

}

.group-button:hover{
    background-color: #73a9ef;
    color: black;
}

.activeGroupButton{
    background-color: #1d74e5;
    color: white;
}


#placeHolderMessageBoard{
    padding-left: 60px;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.message-field{
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;   
}

#messageBoard{
    overflow:scroll;
    height:400px;

}

.sendMessageBar{
    display: flex;
    flex-direction: row;
}

.inputField{
    width: 85%;
    height: 30px;
    text-align: left;
    font-size: 15px;
    border-radius: 4px;
}

#messageBoardAndSendBar{
    padding-top: 60px;
    padding-bottom: 60px;
    width:90%;
}

.submitButton{
    width: 15%;
    right: 0px;
    background-color: #1d74e5;
    color:white;
    font-size: 15px;
    border-radius: 4px;
}

.submitButton:hover{
    background-color: #73a9ef;
    color:black;

}


.hidden{
    display: none;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img.left {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    max-width: 60px;
    width: 100%;      
    margin-left: 20px;
    margin-right:0;
    border-radius: 50%;    
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}