body {
    margin: 0;
    background-color: #EAEBEF;
    font-family: 'Helvetica', 'Georgia', 'Times New Roman';
}

#profile-page {
    display: grid;
    grid-template-areas: 'title_container title_container title_container'
                         'messages messages messages'
                         'events connect groups';
    grid-auto-columns: 1fr;
}

#title-container {
    display: grid;
    grid-area: title_container;
    grid-template-areas: '. title edit';
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin: 15px 40px 0px 40px;
    background-color: white;
    width: auto;
    height: 40px;
}

#filler {
    grid-area: .;
    width: 143px;
    
}

#title {
    grid-area: title;
    height: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    width: 153px;
    font-size: 20px;
}

#edit-info {
    grid-area: edit;
    text-align: right;
    vertical-align: middle;
    line-height: 40px;
    padding-right: 50px;
    color: #1d74e5;
    font-size: 15px;
}

#edit-my-info:hover {
    cursor: pointer;
    
}


#my-connections {
    grid-area: connect;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    background-color: white;
    width: auto;
}

#my-events {
    grid-area: events;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin: 20px 10px 20px 40px;
    background-color: white;
    width: auto;
}

#my-messages {
    grid-area: messages;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin: 15px 40px 0px 40px;
    background-color: white;
    width: auto;
}

#my-groups {
    grid-area: groups;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    margin: 20px 40px 20px 10px;
    background-color: white;
    width: auto;
}

.display-title {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.vertical-display {
    background-color: white;
    margin: 30px;
    margin-top:15px;
    overflow-y: auto;
    height: 300px;
}

.my-item {
    display: block;
    background-color: #EAEBEF;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.display-icon {
    width: 20px;
    height: 20px;
}

.display-message {
    width: 25px;
    height: 18px;
}


#modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-display-message {
    display: grid;
    margin: 20% auto;
    width: 500px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    grid-template-areas: 'title'
                         'message';
}

.modal-display-connection {
    display: grid;
    margin: 20% auto;
    width: 500px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    grid-template-areas: 'title title title title title'
                         'left_side right_side right_side right_side right_side';
}


.modal-display-event {
    display: grid;
    margin: 20% auto;
    width: 500px;
    height: 260px;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    grid-template-areas: 'title title title title title'
                         'left_side right_side right_side right_side right_side'
                         '. . . . remove';
}

.modal-display-group {
    display: grid;
    margin: 20% auto;
    width: 500px;
    height: 260px;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    grid-template-areas: 'title title title'
                         'description description description'
                         '. . chat';
}

.modal-group-description {
    grid-area: description;
    margin-top: 10px;
    padding-left: 30px;
    height: 125px;
}

.modal-group-chat {
    grid-area: chat;
    width: 125px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
    background-color: #1d74e5;
    color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
}

.modal-title {
    grid-area: title;
    text-align: left;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    font-size: 30px;
    padding-left: 30px;
    border-size: 1px;
    border-bottom: solid;
    border-color: #b8b9bc;
}

.modal-close {
    float: right;
    padding-right: 5px;
    font-weight: bold;
    color: #b8b9bc;
}

.modal-close:hover {
    color: black;
    cursor: pointer;
}

.modal-left-side {
    grid-area: left_side;
    padding-left: 20px;
    padding-right: 20px;
    width: 125px;
    height:125px;
    border-size: 1px;
    border-right: solid;
    border-color: #b8b9bc;

}

.modal-right-side {
    grid-area: right_side;
    margin-top: 10px;
    margin-left: -20px;
    width: auto;
    height:125px;
}

.modal-left-side-event {
    grid-area: left_side;
    padding-left: 20px;
    padding-right: 20px;
    width: 125px;
    height:125px;
    border-size: 1px;
    border-right: solid;
    border-color: #b8b9bc;
}

.modal-right-side-event {
    grid-area: right_side;
    margin-top: 10px;
    margin-left: -30px;
    width: auto;
    height:125px;
}

.modal-event-remove {
    grid-area: remove;
    width: auto;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
    background-color: #1d74e5;
    color: white;

}

.modal-message {
    grid-area: message;
    margin-top: -70px;
    padding-left: 20px;
    padding-top: 10px;
}

.my-connection {
    display: grid;
    grid-template-areas: 'image information';

}

.my-connection-image {
    grid-area: image;
    width: auto;
    height:90%;
    border-right: solid;
    border-color: black;
    border-width: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-connection-information {
    grid-area: information;
    width: 200px;
    float: left;
    margin: auto;
    margin-right: 45px;
    height:90%;
    padding-top: 8px;
}


.my-event {
    display: grid;
    grid-template-areas: 'image information';
    min-width: 100px;
}

.my-event-date {
    grid-area: image;
    width: 60px;
    height:90%;
    border-right: solid;
    border-color: black;
    border-width: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-event-date-month {
    background-color: #1d74e5;
    color: white;
    text-align: center;
    padding: 1px;

}

.my-event-date-day {
    background-color: white;
    color: black;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    padding: 8px;
}

.my-event-date-month-modal {
    background-color: #1d74e5;
    color: white;
    text-align: center;
    padding: 1px;
    height: 25%;
    vertical-align: middle;
    font-size: 25px;

}

.my-event-date-day-modal {
    background-color: white;
    color: black;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #b8b9bc;
    padding: 8px;
    height: 50%;
    vertical-align: middle;
    font-size: 50px;
}

.my-event-information {
    grid-area: information;
    width: 200px;
    height:90%;
    padding-top: 8px;
    margin-left:10px;
}


.my-message-title {
    margin: 10px;
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    font-size: 15px;
}

.my-message-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.my-group {
    min-width: 150px;

}


.my-group-title {
    text-align: center;
    font-size: 25px;
    width:100%;
    height: 80px;
    line-height: 80px;


    
}

